@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
  :root{
--java: #21c6d7;
--matisse: #1672a6;
--atoll: #0c6776;
--teal-blue: #05415f;
--tangaroa: #042538;
--blue-whale: #04393f;
--observatory: #048c7c;
--cocoa-brown: #342024;
--woodsmoke: #141617;
  }


*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway';
  overflow-x: hidden;



}


body{
  background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
}
ul {
  list-style: none;
}

a {
  color: var(--color-white);
  text-decoration: none;
}

.menu-btn {
  cursor: pointer;
  display: none;
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 2;
}

.container {
  margin: 16px auto;
  width: 90%;
}

/* NAVIGATION */

.nav-main {
  align-items: center;
  display: flex;
  font-size: 17px;
  height: 60px;
  justify-content: space-between;
  padding: 20px 0;
  overflow-y: hidden;
}

.nav-logo {
  width: 60px;
}

.nav-main ul {
  display: flex;
}

.nav-main ul li {
  padding: 10px;
}

.nav-main ul li a {
  padding: 2px;
}

.nav-main ul li a:hover {
  border-bottom: 2px solid #aeb5bc;
}
.foto{
  position: relative;  
  left: 100px;
  width: 200px;
  
}
.presentacion{
  display: flex;
  justify-content: flex-end;
  padding-right: 300px;
  border-radius: 10%;
}
.presentacion-titulos  {
position: relative;
bottom: 150px;
padding-left:  80px;
 
}

.contenedor-redes{
  position: relative;
  bottom: 140px;
  left: 100px;
  overflow: hidden;

}
.redes{
  display: flex;
  padding: 10 0 30px;
  align-items: center;
  overflow: hidden;
}
.redes a:hover{
  cursor: pointer;
color: #aeb5bc;

}
.redes__item i {
  
margin-right: 20px;
  overflow-y: hidden;
}



/* no  borrar de aca para abajo */
.titulo-Sbremi{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin-top: 200px;
  font-size: 30px;
}
.card p{
  margin-left:  30px;
  margin-top: 30px;
  
}
.img-sobremi{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 390px;
  left: 690px;
  
  
}  


.firma{
  font-family: "Great Vibes", "cursive";
  font-size: 30px;
  color: #ffff;
  text-align: left;
}
.titulo_skills {
  text-align: center;
  position: relative;
  font-size: 30px;
  padding-top: 100px;
}
.skils-container{
  padding-left: 10px;
}
ul li.skills-img1 img,
ul li.skills-img2 img,
ul li.skills-img3 img,
ul li.skills-img4 img,
ul li.skills-img5 img,
ul li.skills-img6 img
{
  width: 100px;
  height: 100px;
}
section.skills{
  margin-bottom: 10px;
}
ul li.skills-nombre h3{
    font-size: 20px;
    position: relative;
    left: 30px;
    
}
.skills-linea{
  display: flex;
  justify-content: center;
  align-items: center;
}

section.experiencia{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  position: relative;
  margin-top: 500px;

}
.proyecto_titulo h2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  

}
.proyecto_titulo p{
  text-align: center;
}
.proyecto-container {
  display: flex;
  align-items: center; /* Vertically align items */
}

.img-proyecto {
  margin-right: 20px; /* Adjust spacing between image and details */
  margin-top: 20px;
}

.details {
  display: flex;
  flex-direction: column;
}

.botones  {
  display: flex;
  flex-direction: row;
  margin-top: 10px; /* Adjust spacing between buttons and project name */
  
  
}
button{
  background-color: white;
  color: var(--tangaroa);
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  padding-left: 0 20px;
  cursor: pointer;
  transition: 0.4s ease-in-out; 

  
}
button:hover {
  background-color: var(--java);
  color: white;
}

.botones a {
  margin-right: 10px; /* Adjust spacing between buttons */
  height:  30px;
  overflow-y: hidden;
  

  

}

.proyecto-nombre {
  margin-top: 10px; /* Adjust spacing between buttons and project name */
}

.experencia-titulo {
  margin-top: 50px;;
  text-align: center;
}
.experiencia-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.experiencia-detalle{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.experiencia-detalle h3{
  margin-bottom: 10px;
}
img{
  margin-right: 20px;
}

.laboral-titulo{
  text-align: center;
  margin-top: 300px;
}
ul .img-experiencia1 img,
ul .img-experiencia2 img,
.img-experiencia3 img,
ul .img-experiencia4 img,
ul .img-experiencia5 img
{
  width: 110px;
  height: 110px;
  border-radius: 50%;

  margin-top: 20px;
  margin-left: 20px;
  

}
.Experiencia-container{
  position: relative;
  padding-left: 10px;
  margin-right: 10px;
  font-size: 2vh;
}

.experiencia-linea{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
}

.titulo-academico{
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
}
.fecha p{
  position: relative;
  left: 70px;;
}
ul .imagen-nistitucion1 img,
ul .imagen-nistitucion2 img,
ul .imagen-nistitucion3 img,
ul .imagen-nistitucion4 img,
ul .imagen-nistitucion5 img,
ul .imagen-nistitucion6 img

{
  width: 100px;
  height: 100px;
  position: relative;
  left: 50px;
  margin-top: 10px;
}
.formacion-container{
  padding-left: 10px;
  margin-right: 10px;
  font-size: 2vh;
  
}
.formacion-linea{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  margin-top: 20px;
}
section.Hobbies{
  margin-top: 99px;
}
section.formacion-academica{
  margin-top: 300px;
}
.titulo-hobbies{
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
  margin-top:  85px;
  top: 30px
}
ul li.intereses-img1 img,
ul li.intereses-img2 img,
ul li.intereses-img3 img,
ul li.intereses-img4 img,
ul li.intereses-img5 img
{
  width: 100px;
  height: 100px;
  position: relative;
  left: 20px;
  margin-top: 10px;
  border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
  

& li :hover{
  transform: scale(1.1);
  overflow-x: hidden;
}
}
section.Hobbies{
  margin-top: 300px
}
.interes-linea{
  display: flex;
  justify-content: space-around;
  margin-bottom:  300px;

}

section.contacto{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
  .footer__rodape{
    text-align: center;
    
  }
.container-form{
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,2fr);
  grid-gap: 50px;
  margin-top: 50px;
}
.container-form h2{
  margin-bottom: 15px;
  font-size: 35px
}
.container-form p{
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
}
.container-form a{
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: white;
  font-weight: 700;
}
.container-form a i{
  color: var(--java);
  margin-right: 10px;
}
.container-form form .campo, textarea{
  width: 100%;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
}
.container-form form textarea{
  max-width: 530px;
  min-width: 530px;
  min-height: 140px;
  max-height: 150px;
}
.container-form .btn-enviar{
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: var(--java);
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
  background: var(--tangaroa);
}
form{
  position: relative;
  bottom: 15pc
}

.img{
  position: relative;
  top: 20pc;
}
.swal2-icon {
  overflow: hidden;
}


/*responsive*/



@media (max-width: 950px) {
  *{
    z-index:-2;
  }
.nav-main{
    display: flex;

  
}

  .nav-menu  li{
    z-index: 0;

  }
  .menu-btn {
      display: block;
  }
 

  .nav-main ul.nav-menu {
      background: black;
      display: block;
      height: 100%;
      left: 0;
      opacity: 0.9;
      padding: 30px;
      position: fixed;
      top: 0;
      transform: translateX(-400px);
      transition: transform 0.5s ease-in-out;




  }

  .nav-main ul.nav-menu.show {
      transform: translateX(-10px);
      z-index: 0;

  }

  .nav-main ul.nav-menu li {
      font-size: 20px;
      padding: 12px;
     

  }

   .foto{
    position: relative;
    left: 5px;
    z-index: -2;
   }
  
.presentacion{
  position: relative;
  left: 300px;


  

}
.contenedor-redes{
  

  z-index: -2;
}
  .presentacion-titulos{
    max-width: 768px ;
    font-size: 14px;
    margin-right: 300px;
    z-index: -2;
  }
 
  .img-sobremi {
    width: 35%;
    position: relative;
    left: 400px;
    bottom: 600px;

  }
p{
 
 
  position: relative;
 margin-right:  500px;
 z-index: -2;
}

.proyecto_linea{
  position: relative;
  left: 40px;
}
.proyecto_titulo p{
  position: relative;
  left: 230px;

}

.experiencia-linea{
  display: flex;
  flex-direction: column;

}
  .img-experiencia1
  {
    position: relative;
    left: 100px;
  }
  .img-experiencia2{
    position: relative;
    left: 130px;
  }
  .img-experiencia3{
    position: relative;
    left:   40px;
  }
  .img-experiencia4{
    position: relative;
    left:   90px;
  }
  .img-experiencia5{
    position: relative;
    left:   170px;
  }

  .formacion-linea{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 200px;
  }
  .formacion-container{
    display: flex;
    flex-direction: column;
    position: relative;
    right: 10px;
    padding-right: 90px;
  }

  .img img {
    display: none;
    }

    form{
      display: flex;
      flex-direction: column;
      position: relative;
      left:  20px;
      margin-top:  200px;

   
   
    }
    textarea{
     position: relative;
      left: 80px;
   
    }
    
    .info-form h2 {
      position: relative;
      text-align: center;
      padding-bottom: 20px;
    }
    .info-form p {
     display: flex;
     position: relative;
     left: 200px;
     margin-right: 300px;
      padding-right: 100px;
    }

.container-form{
  display: flex;
  flex-direction: column;
  position: relative;

  
}
.info-form a{
  position: relative;
  left: 200px;
}
.footer__rodape{
  display: flex;
  flex-direction: column;
  position: relative;
  left: 220px;

}
.selection.footer p{
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 200px;
}


    
}
   
    
    




@media (max-width: 640px) {


  .nav-main{
    overflow-y: hidden;
   
    
     
  }
  .nav-main {

  background-color: #333;
  padding: 10px;
  color: white;
  transition: height 0.3s ease; /* Transición de altura para suavizar el efecto */
  max-height: 200px; /* Altura máxima del menú cuando está visible */
  overflow: hidden; /* Ocultar cualquier contenido adicional que sobresalga */
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu li {
  display: block;
  margin-bottom: 10px;
}

.nav-menu li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 5px 10px;

}

.nav-menu li a:hover {
  background-color: #555; /* Color de fondo cuando se pasa el cursor*/
}



  .contenedor-redes{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 29px;
    top: 49px;
  }
.presentacion-titulos{
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  top: 20px;
  z-index: 0;


}

}